# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/
.cache/
out/

# Editor and OS-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Backend
server/node_modules/
server/dist/
server/.env

# Frontend
client/node_modules/
client/dist/
client/.env

# Vercel & CI/CD
.vercel/
.github/workflows/*.log
